h1 {
    color: var(--secondary-color);
}


body {
    font-family: "Segoe UI";
    font-size: 1.5em;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.titleBar {
    position: relative;
    padding: 15px;
    background-color: var(--heading-color);
}

#themeSwitcher {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper {
    padding: 20px;
}

.controls {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.controls input {
    width: 75%;
}
.controls div{
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.top {
    width: 100%;
    color: #444;
    text-align: center;
    margin-top: 0;
}

input {
    padding: 8px;
    border-radius: 4px 4px 4px 4px;
    background-color: #fff;
    width: 40%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 8px;
    font-size: 1em;
}

.btn_general {
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 8px;
    margin-left: 8px;
    text-transform: uppercase;
    font-weight: 800;
}

.btn_main{
    border: none;
    height: fit-content;
    font-size: 10px;
    font-weight: bold;
    color: rgb(79, 79, 79);
    border-radius: 2px;
    padding: 8px;
    margin-left: 8px;
}

.btn_main.add {
    color: rgb(232, 232, 232);
    background-color: #009933;
}

.btn_main.add:hover {
    color: rgb(56, 56, 56);
    background-color: #14d253;
}

.btn_main.remove {
    background-color: #dc143c;
}

.btn_main.remove:hover {
    background-color: #b01030;
}

.btn_main.clear{
    color: rgb(115, 115, 115);
}
.btn_main.clear:hover{
    color: rgb(198, 198, 198);
    background-color: rgb(71, 71, 71);
}

.btn {
    background-color: #ccc;
    padding: 2px 4px 2px 4px;
    margin: auto 2px auto 0px;
}

.done:hover {
    background-color: #007a29;
}

.delete:hover {
    background-color: #b01030;
}

.btn.edit:hover {
    background-color: rgb(255, 205, 129);
}

.btn.copy:hover {
    background-color: rgb(106, 65, 255);
}

.search {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search input {
    width: 75%;
}
.search div {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: start;
}

/* 待辦事項類型分類 */
#completedTask, #newTask{
    position: absolute;
    left: -3000px;
}

/* 開發觀察用 */
/* #completedTask{
    position: absolute;
    left: 10px;
}
#newTas{
    position: absolute;
    left: 50px;
} */


.completedTaskLabel, .newTaskLabel{
    --checkedBcg: #8ee140;
    --checkedColor: rgb(79, 79, 79);
    --notcheckedBcg: #686868;
    --notcheckedColor: rgb(232, 232, 232);
    font-size: 10px;
    font-weight: bold;
    color: var(--notcheckedColor);
    background-color: var(--notcheckedBcg);
    border-radius: 2px;
    padding: 8px;
    margin-left: 8px;
}


#completedTask:checked + .completedTaskLabel {
    background-color: var(--checkedBcg);
    color: var(--checkedColor);
}

#newTask:checked + .newTaskLabel {
    background-color: var(--checkedBcg);
    color: var(--checkedColor);
}

.editorBox {
    padding: 15px;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
}

.editorBox button {
    margin-left: 50%;
    transform: translateX(-50%);
}

.hide_task{
    display: none;
}


