h1 {
    color: var(--secondary-color);
}


body {
    font-family: "Segoe UI";
    font-size: 1.5em;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.titleBar {
    position: relative;
    padding: 15px;
    background-color: var(--heading-color);
}

#themeSwitcher {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper {
    padding: 20px;
}

/* 使用者輸入功能: 事項 標籤 搜尋 */
.controls {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.controls input {
    min-width: 75%;
}
.controls div{
    width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
}

.search, .tagCreator{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input, .tagCreator input {
    min-width: 75%;
}
.search div, .tagCreator div {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.top {
    width: 100%;
    color: #444;
    text-align: center;
    margin-top: 0;
}

input {
    padding: 8px;
    border-radius: 4px 4px 4px 4px;
    background-color: #fff;
    width: 40%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 8px;
    font-size: 1em;
}

.btn_general {
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 8px;
    margin-left: 8px;
    text-transform: uppercase;
    font-weight: 800;
}

.btn_main{
    border: none;
    height: fit-content;
    font-size: 10px;
    font-weight: bold;
    color: rgb(79, 79, 79);
    border-radius: 2px;
    padding: 8px;
    margin-left: 8px;
}

.btn_main.add {
    color: rgb(232, 232, 232);
    background-color: #009933;
}

.btn_main.add:hover {
    color: rgb(56, 56, 56);
    background-color: #14d253;
}

.btn_main.remove {
    background-color: #dc143c;
}

.btn_main.remove:hover {
    background-color: #b01030;
}

.btn_main.clear{
    color: rgb(115, 115, 115);
}
.btn_main.clear:hover{
    color: rgb(198, 198, 198);
    background-color: rgb(71, 71, 71);
}

.btn {
    background-color: #ccc;
    padding: 2px 4px 2px 4px;
    margin: auto 2px auto 0px;
}

.done:hover {
    background-color: #007a29;
}

.delete:hover {
    background-color: #b01030;
}

.btn.edit:hover {
    background-color: rgb(255, 205, 129);
}

.btn.copy:hover {
    background-color: rgb(106, 65, 255);
}

.tagBtn:hover{
    background-color: #007a29;
}



/* 代辦事項清單 */
.taskCard{
    display: flex;
    justify-content: start;
    align-items: center;
}

.taskCard span{
    margin-left: 5px;
}

/* 待辦事項類型分類 */
#completedTask, #newTask{
    position: absolute;
    left: -3000px;
}

/* 開發觀察用 */
/* #completedTask{
    position: absolute;
    left: 10px;
}
#newTas{
    position: absolute;
    left: 50px;
} */


.completedTaskLabel, .newTaskLabel{
    --checkedBcg: #8ee140;
    --checkedColor: rgb(79, 79, 79);
    --notcheckedBcg: #686868;
    --notcheckedColor: rgb(232, 232, 232);
    font-size: 10px;
    font-weight: bold;
    color: var(--notcheckedColor);
    background-color: var(--notcheckedBcg);
    border-radius: 2px;
    padding: 8px;
    margin-left: 8px;
}


#completedTask:checked + .completedTaskLabel {
    background-color: var(--checkedBcg);
    color: var(--checkedColor);
}

#newTask:checked + .newTaskLabel {
    background-color: var(--checkedBcg);
    color: var(--checkedColor);
}


.editorBox {
    padding: 15px;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
}

.editorBox button {
    margin-left: 50%;
    transform: translateX(-50%);
}

.hide_task{
    display: none;
}


/* tags管理面板 */
#tagsBox{
    /* display: block; */
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    background-color: rgba(253, 143, 69, 0.3);
    border-radius: 5px;
}

#tagsBoxClose{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(45%, -45%, 0);
    border: none;
    color: #d50731;
    background-color: rgb(251, 191, 179);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    font-weight: bold;
}

#tagsBoxClose:hover{
    color: #dc143c;
    background-color: rgb(228, 150, 135);
}

.tags{
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tag {
	position: relative;
	display: inline-block;
	margin: 5px;
	padding: 5px 30px 5px 5px;
	color: #333;
	background: #fff;
	border: 1px solid #0064b7;
	border-radius: 5px;
	cursor: pointer;
    font-size: 15px;
}
.tag:after {
    position: absolute;
    right: 10px;
    color: #b4252d;
    content: "×";
}

/* 事項tags管理面板 */
#taskTagBox{
    display: block;
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 70%;
    background-color: rgba(133, 253, 69, 0.3);
    border-radius: 5px;
}

#taskTagsBoxClose{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(45%, -45%, 0);
    border: none;
    color: #d50731;
    background-color: rgb(251, 191, 179);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    font-weight: bold;
}

#taskTagsBoxClose:hover{
    color: #dc143c;
    background-color: rgb(228, 150, 135);
}

.taskTagContainer{
    display: flex;
}

.taskTagsRow{
    display: flex;
}

.taskTag{
    position: relative;
	display: inline-block;
	margin: 5px;
	padding: 5px 30px 5px 5px;
	color: #333;
	background: #fff;
	border: 1px solid #0064b7;
	border-radius: 5px;
	cursor: pointer;
    font-size: 10px;
}
.taskTag:after {
    position: absolute;
    right: 10px;
    color: #253bb4;
    content: "o";
}