<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>toDoList</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js" integrity="sha512-XdUZ5nrNkVySQBnnM5vzDqHai823Spoq1W3pJoQwomQja+o4Nw0Ew1ppxo5bhF2vMug6sfibhKWcNJsG8Vj9tg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="./CSS/reset200802.css">
    <link rel="stylesheet" href="./CSS/toDoList.css">
</head>
<body>
    <div id="app">
        <div class="titleBar">
            <h1 class="top">To Do List</h1>
            <button id="themeSwitcher" @click="themeSwitcher">Light</button>
        </div>
        
        <div class="wrapper">
          <div class="controls">
            <input v-model="newTodo" @keyup.enter="addTodo" type="text" placeholder="輸入代辦事項" autofocus>
            <button class="add" v-on:click="addTodo">新增</button>
            <button class="clear" v-on:click="clearTodos">清除</button>
          </div>
          <div class="search">
            <input v-model="search" @keyup.enter="searchText" type="text" placeholder="搜尋代辦事項">
          </div>
          <ul>
            <todo-item v-for="(todo, index) in todos"
                v-bind:title="todo.title"
                v-bind:completed="todo.completed"
                v-bind:index="index"
                v-on:toggle="toggle(index)"
                v-on:delete="deleteTodo(index)">
            </todo-item>
          </ul>
        </div>
    </div>


    <div id="ckEditor"></div>





<script src="./JS/toDoList.js"></script>
<script src="./JS/ckEditor.js"></script>

</body>
</html>

